div.svelte-enhypx{pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:none}
section.svelte-ybkpjs{height:calc(100vh - 2.5rem)}@media(min-width: 768px){section.svelte-ybkpjs{height:calc(100vh - 3rem)}}
