div.svelte-enhypx{pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:none}
svg.svelte-180tdc7{display:inline-block;margin-top:auto;margin-bottom:auto}
